body {
  background-image: linear-gradient(to right top,rgb(236, 236, 89), rgb(157, 157, 228) );
  background-repeat:no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

h2 {
  text-align:center;
}

img {
  width: 200px;
  height: 200px;
  float:right
}

.column {
  width: 250px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
  display:block;
  margin:0px auto;
}

.column-container {
  display:flex;
  justify-content: space-between;
  justify-self: center;
}


.button {
  border: none;
  color: yellow padding: 10px 20px;
  text-align: center;
}

.GFG {
  background-color: steelblue;
  border: 2px solid black;
  color: yellow;
  padding: 3px 6px;
  text-align: center;
  display: inline block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration: none;
}
/* select by ID of pro and select p element within that specific div */
#pro p {
  text-align: center;
}

#fav img {
align-items: center;
justify-content: center;

}