.chillin {
  color:black;
  font-family: Arial; 
}

.h1 {
    color:blue;
    text-align: center;
    font-family:Arial

}

img {
  width:200px;
  height:200px;
  float:right
}

.sidebar{
  width: 30%
  float: left;
  background-color: yellow;
  font-family:Arial;
}

.column {
  width: 300px;
  float: left;
  font-family: Arial;
}

.highlight {
  color:rgb(33, 104, 45);
  
}
.highlight2 {
  color:steelblue;
  font-weight:bold
}
.column2 {
  width: 300px;
  float: right;
  font-family: Arial;
}